.comparison-head {
}

.comparison-item {
    display: inline-block;
    vertical-align: top;
    padding: 0 2em;
}

.comparison-title {
    display: inline-block;
}

.comparison-icon {
    display: inline-block;
    height: 3em;
    margin-bottom: 1.5em;
}

.comparison-big {
    display: block;
    font-size: 5em;
    line-height: 1;
}

.comparison-graphic {
    display: inline-block;
    text-align: left;
    width: 50%;
}

.graphic-image {
    width: 100%;
}

.comparison-caption {
    clear: both;
}

.center {
    text-align: center;
}
