.food-choice {
    color: rgb(219, 220, 221);
    background: rgb(94, 125, 94);    
    min-width: 160px;
    min-height: 200px;    
    background-size: contain;
    background-repeat: no-repeat;
}

#information {
    color: rgb(219, 220, 221);
}

.title {
    color: rgb(219, 220, 221);
    background: rgb(94, 125, 94);    
}

.choice-image {
    background-size: contain;
    background-repeat: no-repeat;
}

.food-details {        
}

h2 {
    font-weight: bold;
}

.food-ranks {
    border-top: 1px solid black;
}

.divider-right {
    border-right: 1px solid black;
}

.food-row {
    border-top: 5px solid white;    
}

.choice-left {
    border-right: 5px solid white;
    background-position: left bottom;
}

.choice-right {    
    background-position: right bottom;
}

.choice-selected {
    background: rgb(27, 42, 42);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
