.food-choice {
    color: rgb(220, 221, 222);
    background: rgb(94, 124, 95);    
    min-width: 160px;
    min-height: 200px;    
}

h3, h1, h2 {
    font-weight: 100;
}

#information {
    color: rgb(220, 221, 222);
}

.title {
    color: rgb(220, 221, 222);
    background: rgb(94, 124, 95);   
}

.choice-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.food-details {        
}

.food-ranks {
    border-top: 1px solid black;
}

.divider-right {
    border-right: 1px solid black;
}

.food-row {
    border-top: 5px solid white;    
}

.choice-left {
    border-right: 5px solid white;
}

.choice-right {
    border-left: 5px solid white;
}

.choice-selected {
    background: rgb(27, 42, 42);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
