.food-choice {
    color: rgb(251, 214, 138);
    background: rgb(40, 75, 68);    
    min-width: 160px;
    min-height: 200px;    
}

.choice-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.food-details {        
}

h2 {
    font-weight: bold;
}

.food-ranks {
    border-top: 1px solid black;
}

.divider-right {
    border-right: 1px solid black;
}

.food-row {
    border-top: 5px solid white;    
}

.choice-left {
    border-right: 5px solid white;
}

.choice-right {
    border-left: 5px solid white;
}

.choice-selected {
    background: rgb(27, 42, 42);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
