<div class="index">
    <pre class="impossible">
         _          _            _            _         
        /\ \       /\ \         /\ \         /\ \       
       /  \ \     /  \ \       /  \ \       /  \ \____  
      / /\ \ \   / /\ \ \     / /\ \ \     / /\ \_____\ 
     / / /\ \_\ / / /\ \ \   / / /\ \ \   / / /\/___  / 
    / /_/_ \/_// / /  \ \_\ / / /  \ \_\ / / /   / / /  
   / /____/\  / / /   / / // / /   / / // / /   / / /   
  / /\____\/ / / /   / / // / /   / / // / /   / / /    
 / / /      / / /___/ / // / /___/ / / \ \ \__/ / /     
/ / /      / / /____\/ // / /____\/ /   \ \___\/ /      
\/_/       \/_________/ \/_________/     \/_____/       
                                                        
    </pre>
</div>
